.about-product {
  margin-bottom: 126px;

  @media (max-width: 1280px) {
    margin-bottom: 113px;
  }

  @media (max-width: 1024px) {
    margin-bottom: 87px;
  }

  @media (max-width: 768px) {
    margin-bottom: 75px;
  }

  &__title {
    height: 0;
    visibility: hidden;
  }

  &__navigation {
    margin-bottom: 55px;

    @media (max-width: 1024px) {
      margin-bottom: 45px;
    }

    @media (max-width: 768px) {
      margin-bottom: 35px;
    }
  }

  &__navigation-list {
    margin-left: -1px;
  }

  &__navigation-border {
    border-bottom: 2px solid #cccccc;
    margin-top: 5px;
  }

  &__navigation-item:first-child {
    margin-right: 42px;
  }

  &__navigation-item:nth-child(2) {
    margin-right: 51px;

    @media (max-width: 768px) {
      margin-right: 46px;
    }
  }

  &__navigation-link {
    color: #888888;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 12px;
  }

  &__active-link {
    color: #000;
    border-bottom: 2px solid $mainRed;
  }

  &__desc-spec {
    display: flex;

    @media (max-width: 1024px) {
      flex-direction: column;
      margin-bottom: 58px;
    }

    @media (max-width: 768px) {
      margin-bottom: 46px;
    }
  }

  &__desc-spec-left {
    max-width: 57%;

    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }

  &__desc-spec-article {
    margin-bottom: 47px;

    @media (max-width: 1280px) {
      margin-bottom: 58px;
    }

    @media (max-width: 1024px) {
      margin-bottom: 54px;
    }

    @media (max-width: 768px) {
      margin-bottom: 42px;
    }
  }

  &__desc-spec-title {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    margin-left: -2px;
    margin-bottom: 14px;
  }

  &__desc-spec-text {
    line-height: 25px;
  }

  &__desc-spec-title-second {
    margin-top: 22px;
    margin-bottom: 4px;
  }

  &__desc-spec-list {
    padding-left: 10px;
    margin-bottom: 22px;
  }

  &__desc-spec-item {
    line-height: 30px;
  }

  &__desc-spec-item:nth-child(5) {
    line-height: normal;
    margin: 5px 0 7px;
  }

  &__desc-spec-item::before {
    content: "-";
    margin-right: 4px;
    margin-left: -10px;
  }

  &__desc-spec-img {
    margin: 37px 0 36px -8px;

    @media (max-width: 1280px) {
      margin-top: 85px;
    }

    @media (max-width: 1024px) {
      margin-top: 27px;
    }

    @media (max-width: 768px) {
      margin: 20px auto 13px;
    }
  }

  &__doc-title {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    margin-left: -2px;
    margin-bottom: 16px;
  }

  &__doc-link {
    line-height: 50px;
    text-decoration: underline;
    color: $mainRed;
    margin-right: 8px;
  }

  &__doc-img {
    width: 40px;
    height: 40px;
    padding: 5px 8px;
    margin-right: 9px;
  }

  &__doc-img_pdf {
    background-color: $mainRed;
  }

  &__doc-img_doc {
    background-color: $blue;
  }

  &__desc-spec-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 43%;
    padding-left: 77px;

    @media (max-width: 1280px) {
      padding-left: 53px;
    }

    @media (max-width: 1024px) {
      flex-direction: row;
      max-width: 100%;
      padding-left: 0;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__table {
    width: 100%;
    line-height: 37px;
    color: #666666;

    @media (max-width: 1024px) {
      width: auto;
    }
  }

  &__table:first-child {
    margin-bottom: 68px;

    @media (max-width: 1280px) {
      margin-bottom: 48px;
    }

    @media (max-width: 1024px) {
      max-width: 48%;
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 47px;
    }
  }

  &__table > tr,
  td {
    border: 1px solid $borderTable;
  }

  &__table td {
    padding-left: 20px;

    @media (max-width: 1280px) {
      width: 57%;
      line-height: normal;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media (max-width: 1024px) {
      width: 58%;
    }

    @media (max-width: 768px) {
      width: 50%;
    }
  }

  &__table_spec {
    @media (max-width: 1280px) {
      margin-right: 41px;
    }
  }

  &__table_spec td:last-child {
    padding-right: 49px;

    @media (max-width: 1280px) {
      width: 57%;
      padding-right: 45px;
    }

    @media (max-width: 1024px) {
      padding-right: 30px;
    }
  }

  &__table_params {
    @media (max-width: 1024px) {
      flex-grow: 1;
    }
  }

  &__table_params td:last-child {
    padding-right: 29px;
  }

  &__table tr:nth-child(even) {
    background-color: $bgTable;
  }

  &__table-title {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    text-align: start;
    margin-bottom: 20px;
  }

  &__table-link {
    color: $mainRed;
    text-decoration: underline;
  }
}
