.about-product {
  margin-bottom: 126px;

  @media (max-width: 1630px) {
    margin-bottom: 113px;
  }

  @media (max-width: 1279px) {
    margin-bottom: 87px;
  }

  @media (max-width: 1023px) {
    margin-bottom: 75px;
  }

  @media (max-width: 767px) {
    margin-bottom: 275px;
  }

  @media (max-width: 559px) {
    margin-bottom: 224px;
  }

  &__title {
    height: 0;
    visibility: hidden;
  }

  &__navigation {
    margin-bottom: 55px;

    @media (max-width: 1279px) {
      margin-bottom: 45px;
    }

    @media (max-width: 1023px) {
      margin-bottom: 35px;
    }

    @media (max-width: 559px) {
      margin-bottom: 19px;
    }
  }

  &__navigation-list {
    margin-left: -1px;
    @media (max-width: 767px) {
      position: relative;
    }
  }

  &__navigation-list-wrapper {
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__navigation-border {
    border-bottom: 2px solid $mainGrey;
    margin-top: 5px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__navigation-item {
    @media (max-width: 767px) {
      padding: 16px 28px;
      border: 1px solid $borderTable;
    }

    @media (max-width: 559px) {
      padding: 12px 20px;
    }
  }

  &__navigation-item_active {
    @media (max-width: 767px) {
      border-bottom: 2px solid $mainRed;
    }
  }

  &__navigation-item:first-child {
    margin-right: 42px;

    @media (max-width: 767px) {
      margin-right: 0;
    }
  }

  &__navigation-item:nth-child(2) {
    margin-right: 51px;

    @media (max-width: 1023px) {
      margin-right: 45px;
    }

    @media (max-width: 767px) {
      position: absolute;
      width: 100%;
      top: 2108px;
      margin-right: 0;
    }

    @media (max-width: 559px) {
      top: 2074px;
      padding: 23px 20px;
    }
  }

  &__navigation-item:last-child {
    @media (max-width: 767px) {
      position: absolute;
      width: 100%;
      top: 2183px;
      margin-right: 0;
    }

    @media (max-width: 559px) {
      top: 2149px;
      padding: 23px 20px;
    }
  }

  &__navigation-link {
    color: $secondGray;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 12px;

    @media (max-width: 767px) {
      display: flex;
      flex-grow: 1;
      background-image: url(../img/about_product__navigation_item_arrow_close.png);
      background-position: center right;
      background-repeat: no-repeat;
      padding-right: 50px;
      padding-bottom: 0;
    }

    @media (max-width: 559px) {
      font-size: 16px;
      line-height: 23px;
    }
  }

  &__active-link {
    color: $mainText;
    border-bottom: 2px solid $mainRed;

    @media (max-width: 767px) {
      background-image: url(../img/about_product__navigation_item_arrow_open.png);
      background-position: center right;
      background-repeat: no-repeat;
      border-bottom: none;
    }
  }

  &__desc-spec {
    display: flex;

    @media (max-width: 1279px) {
      flex-direction: column;
      margin-bottom: 58px;
    }

    @media (max-width: 1023px) {
      margin-bottom: 46px;
    }

    @media (max-width: 767px) {
      margin-bottom: 32px;
    }

    @media (max-width: 559px) {
      margin-bottom: 23px;
    }
  }

  &__desc-spec-left {
    max-width: 57%;

    @media (max-width: 1279px) {
      max-width: 100%;
    }
  }

  &__desc-spec-article {
    margin-bottom: 47px;

    @media (max-width: 1630px) {
      margin-bottom: 58px;
    }

    @media (max-width: 1279px) {
      margin-bottom: 54px;
    }

    @media (max-width: 1023px) {
      margin-bottom: 42px;
    }

    @media (max-width: 767px) {
      margin-left: 4px;
      margin-bottom: 37px;
    }

    @media (max-width: 559px) {
      margin-bottom: 20px;
    }
  }

  &__desc-spec-title {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    margin-left: -2px;
    margin-bottom: 14px;

    @media (max-width: 559px) {
      margin-bottom: 6px;
    }
  }

  &__desc-spec-text {
    line-height: 25px;

    @media (max-width: 559px) {
      line-height: 20px;
      font-size: 13px;
      padding-right: 8px;
    }
  }

  &__desc-spec-text:last-child {
    @media (max-width: 559px) {
      line-height: 22px;
    }
  }

  &__desc-spec-text:nth-last-child(2) {
    @media (max-width: 559px) {
      line-height: 22px;
    }
  }

  &__desc-spec-title-second {
    margin-top: 22px;
    margin-bottom: 4px;

    @media (max-width: 767px) {
      margin-top: 26px;
      margin-bottom: 5px;
    }

    @media (max-width: 559px) {
      margin-top: 20px;
    }
  }

  &__desc-spec-list {
    padding-left: 10px;
    margin-bottom: 22px;

    @media (max-width: 559px) {
      margin-bottom: 16px;
      padding-right: 8px;
    }
  }

  &__desc-spec-item {
    line-height: 30px;

    @media (max-width: 767px) {
      line-height: 22px;
    }

    @media (max-width: 559px) {
      line-height: 22px;
      font-size: 13px;
    }
  }

  &__desc-spec-item:nth-child(5) {
    line-height: normal;
    margin: 5px 0 7px;
  }

  &__desc-spec-item::before {
    content: "-";
    margin-right: 4px;
    margin-left: -10px;
  }

  &__desc-spec-img {
    margin: 37px 0 36px -8px;

    @media (max-width: 1630px) {
      margin-top: 85px;
    }

    @media (max-width: 1279px) {
      margin-top: 27px;
    }

    @media (max-width: 1023px) {
      margin: 20px auto 13px;
    }

    @media (max-width: 767px) {
      margin: 28px auto 18px;
    }

    @media (max-width: 559px) {
      margin: 19px auto 28px;
    }
  }

  &__doc {
    @media (max-width: 559px) {
      padding-left: 15px;
    }
  }

  &__doc-title {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    margin-left: -2px;
    margin-bottom: 16px;

    @media (max-width: 767px) {
      margin-bottom: 8px;
    }

    @media (max-width: 559px) {
      font-size: 16px;
    }
  }

  &__doc-link {
    line-height: 50px;
    text-decoration: underline;
    color: $mainRed;
    margin-right: 8px;

    @media (max-width: 1279px) {
      font-size: 13px;
    }
  }

  &__doc-link:hover {
    color: $secondRed;
  }

  &__doc-img {
    width: 40px;
    height: 40px;
    padding: 5px 8px;
    margin-right: 9px;
  }

  &__doc-img_pdf {
    background-color: $mainRed;
  }

  &__doc-img_doc {
    background-color: $blue;
  }

  &__desc-spec-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 43%;
    padding-left: 60px;

    @media (max-width: 1630px) {
      padding-left: 53px;
    }

    @media (max-width: 1279px) {
      flex-direction: row;
      max-width: 100%;
      padding-left: 0;
    }

    @media (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__table {
    width: 100%;
    line-height: 37px;
    color: $mainBg;

    @media (max-width: 1279px) {
      width: auto;
    }
  }

  &__table:first-child {
    margin-bottom: 68px;

    @media (max-width: 1630px) {
      margin-bottom: 48px;
    }

    @media (max-width: 1279px) {
      max-width: 48%;
      margin-bottom: 0;
    }

    @media (max-width: 1023px) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 47px;
    }

    @media (max-width: 767px) {
      margin-bottom: 35px;
    }

    @media (max-width: 559px) {
      margin-bottom: 25px;
    }
  }

  &__table > tr,
  td {
    border: 1px solid $borderTable;
  }

  &__table td {
    padding-left: 20px;

    @media (max-width: 1630px) {
      width: 57%;
      line-height: normal;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media (max-width: 1279px) {
      width: 58%;
    }

    @media (max-width: 1023px) {
      width: 50%;
    }

    @media (max-width: 767px) {
      line-height: 19px;
    }

    @media (max-width: 559px) {
      width: 55%;
    }
  }

  &__table_spec {
    @media (max-width: 1630px) {
      margin-right: 41px;
    }
  }

  &__table_spec td:last-child {
    padding-right: 49px;

    @media (max-width: 1630px) {
      width: 57%;
      padding-right: 45px;
    }

    @media (max-width: 1279px) {
      padding-right: 30px;
    }

    @media (max-width: 559px) {
      padding-right: 0;
    }
  }

  &__table_params {
    @media (max-width: 1279px) {
      flex-grow: 1;
    }
  }

  &__table_params td:last-child {
    padding-right: 29px;
  }

  &__table tr:nth-child(even) {
    background-color: $bgTable;
  }

  &__table-title {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    text-align: start;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      margin-bottom: 14px;
    }

    @media (max-width: 559px) {
      font-size: 16px;
    }
  }

  &__table-link {
    color: $mainRed;
    text-decoration: underline;
  }

  &__table-link:hover {
    color: $secondRed;
  }
}
