.bread-crumbs {
  margin-top: 10px;
  padding: 12px 0 58px;

  @media (max-width: 1630px) {
    padding-top: 16px;
  }

  @media (max-width: 1280px) {
    padding-bottom: 60px;
  }

  @media (max-width: 1024px) {
    margin-top: 0;
    padding-bottom: 62px;
  }

  @media (max-width: 768px) {
    background-color: $bgTable;
    padding-top: 10px;
    padding-bottom: 12px;
    margin-top: 4px;
    margin-bottom: 40px;
  }

  @media (max-width: 560px) {
    padding-top: 7px;
    margin-bottom: 38px;
  }

  &__list {
    display: flex;
  }

  &__item {
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    color: $secondGray;
  }

  &__item:last-child {
    @media (max-width: 560px) {
      display: none;
    }
  }

  &__link {
    display: inline-block;
    color: $secondGray;
    border-bottom: 1px solid $secondGray;
  }

  &__link-text_560 {
    display: none;
    @media (max-width: 560px) {
      display: inline;
    }
  }

  &__link-text {
    @media (max-width: 560px) {
      display: none;
    }
  }

  &__item:last-child > a {
    border-bottom: none;
    color: $mainBg;
  }

  &__item:not(:last-child)::after {
    content: "-";
    display: inline-block;
    margin-left: 5px;
    margin-right: 11px;
  }

  &__item:nth-child(3)::after {
    @media (max-width: 560px) {
      display: none;
    }
  }
}
