.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 150px 70px;

    @media (max-width: 1630px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (max-width: 1280px) {
      flex-wrap: wrap;
      padding-bottom: 35px;
    }

    @media (max-width: 768px) {
      padding: 0 20px 27px;
    }

    @media (max-width: 560px) {
      justify-content: center;
    }

    @media (max-width: 560px) {
      padding: 0 35px 27px;
    }
  }

  &__navigation {
    font-size: 18px;
    font-weight: 600;
    color: $secondText;
  }

  &__navigation_first {
    margin-right: 128px;

    @media (max-width: 1630px) {
      margin-right: 193px;
    }

    @media (max-width: 1280px) {
      margin-right: 13%;
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__navigation_second {
    margin-right: 102px;

    @media (max-width: 1630px) {
      margin-right: 182px;
    }

    @media (max-width: 1280px) {
      margin-right: auto;
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__navigation-link {
    color: $secondText;
  }

  &__navigation-item:not(:last-child) {
    margin-bottom: 23px;
  }

  &__contacts {
    @media (max-width: 1630px) {
      margin-right: 118px;
    }

    @media (max-width: 1280px) {
      margin-right: 7%;
    }

    @media (max-width: 1024px) {
      margin-right: 0;
    }

    @media (max-width: 560px) {
      text-align: center;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  &__contacts-title {
    font-size: 18px;
    font-weight: 600;
    color: $secondText;
    margin-bottom: 14px;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 560px) {
      margin-bottom: 18px;
    }
  }

  &__contacts-item:not(:last-child) {
    margin-bottom: 6px;

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
    @media (max-width: 560px) {
      margin-bottom: 4px;
    }
  }

  &__contacts-link {
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 25px;

    @media (max-width: 560px) {
      padding-left: 0;
    }
  }

  &__contacts-link_phone {
    font-size: 18px;
    font-weight: 400;
    color: $secondText;
    background-image: url(../img/footer_phone_icon.png);

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 560px) {
      background-image: none;
    }
  }

  &__contacts-link_email {
    font-size: 13px;
    color: $mainRed;
    background-image: url(../img/footer_email_icon.png);

    @media (max-width: 560px) {
      background-image: none;
    }
  }

  &__contacts-link_address {
    font-size: 13px;
    color: $secondText;
    background-image: url(../img/footer_address_icon.png);
    padding-top: 2px;
    padding-bottom: 2px;

    @media (max-width: 560px) {
      background-image: none;
    }
  }

  &__about-site {
    font-size: 13px;
    line-height: 22px;
    color: $secondGray;

    @media (max-width: 1280px) {
      margin-right: 0;
    }

    @media (max-width: 1024px) {
      margin-right: 138px;
    }

    @media (max-width: 768px) {
      margin-right: 42px;
    }

    @media (max-width: 560px) {
      text-align: center;
      margin-right: 0;
    }
  }

  &__about-site-copyright {
    margin-bottom: 16px;

    @media (max-width: 560px) {
      margin-bottom: 6px;
    }
  }

  &__about-site-privacy {
    display: block;
    color: $secondGray;
    margin-bottom: 21px;

    @media (max-width: 560px) {
      margin-bottom: 8px;
    }
  }

  &__social-networks {
    @media (max-width: 1280px) {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 45px;
    }

    @media (max-width: 1024px) {
      padding-top: 48px;
    }

    @media (max-width: 768px) {
      padding-top: 33px;
    }

    @media (max-width: 560px) {
      background-image: none;
      padding-top: 22px;
    }
  }

  &__social-networks-item:not(:last-child) {
    margin-bottom: 10px;

    @media (max-width: 1280px) {
      margin-right: 10px;
    }
  }

  &__social-networks-list {
    @media (max-width: 1280px) {
      display: flex;
    }
  }

  &__social-networks-link {
    display: block;
    width: 36px;
    height: 36px;
    background-color: $mainGrey;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  &__social-networks-link_fb {
    background-image: url(../img/footer_fb_icon.png);
  }

  &__social-networks-link_fb:hover {
    background-color: #5959d8;
  }

  &__social-networks-link_fb:active {
    background-color: #4040b3;
  }

  &__social-networks-link_vk {
    background-image: url(../img/footer_vk_icon.png);
  }

  &__social-networks-link_vk:hover {
    background-color: #628dd3;
  }

  &__social-networks-link_vk:active {
    background-color: #3768b9;
  }

  &__social-networks-link_insta {
    background-image: url(../img/footer_insta_icon.png);
  }

  &__social-networks-link_insta:hover {
    background-color: #af35d2;
  }

  &__social-networks-link_insta:active {
    background-color: #7e47b7;
  }
}
