.product-card {
  position: relative;
  width: 290px;
  align-items: center;
  line-height: 25px;
  font-weight: 500;
  border: 1px solid $borderTable;
  background-color: #fff;
  padding-bottom: 43px;

  @media (max-width: 1630px) {
    width: 282px;
  }

  @media (max-width: 1280px) {
    width: 304px;
  }

  @media (max-width: 1024px) {
    width: 236px;
    padding-bottom: 29px;
  }

  @media (max-width: 768px) {
    width: 263px;
    padding-bottom: 38px;
  }

  @media (max-width: 560px) {
    width: 100%;
    padding-bottom: 25px;
    padding-top: 26px;
  }

  &__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;

    @media (max-width: 1024px) {
      height: 225px;
    }

    @media (max-width: 768px) {
      height: 240px;
    }

    @media (max-width: 560px) {
      height: 150px;
      margin-bottom: 16px;
    }
  }

  &__title {
    text-align: center;
    font-size: 16px;
    padding: 0 25px;
    margin-bottom: 24px;

    @media (max-width: 1630px) {
      padding: 0 22px;
    }

    @media (max-width: 1024px) {
      padding: 0 16px;
    }

    @media (max-width: 768px) {
      padding: 0 10px;
    }

    @media (max-width: 560px) {
      font-size: 15px;
      padding: 0 35px;
    }
  }

  &__price-wrapper {
    font-weight: 700;
  }

  &__prev-price {
    font-size: 20px;
    color: $mainBg;
    padding: 0 8px;
  }

  &__line {
    display: block;
    border-bottom: 1px solid grey;
    margin-top: -14px;
    margin-left: -5px;
    margin-right: -5px;
  }

  &__start-price {
    margin-right: 5px;
  }

  &__current-price {
    font-size: 22px;
    margin-right: 5px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &__price-currency {
    margin-right: 5px;
  }

  &__sticker-sale {
    top: 18px;
    left: 0;
  }

  &__sticker-hit {
    top: 18px;
    left: 0;
  }

  &__sticker-new {
    top: 18px;
    left: 0;
  }
}
