.recommendation {
  background-color: $bgTable;
  padding: 106px 0 192px;

  &__wrapper {
    margin-bottom: 44px;
  }

  &__title {
    margin-left: -4px;
    margin-right: auto;
  }

  &__btn {
    background-color: #fff;
    margin-top: 10px;
  }

  &__btn_left {
    margin-right: 19px;
  }

  &__btn_left:hover {
    transform: rotate(180deg);
  }

  &__btn_left:active {
    transform: rotate(180deg);
  }

  &__slider {
    justify-content: space-between;
  }
}
