$mainRed: #cc0a0a;
$secondRed: #ff0000;
$green:#3ab011;
$blue: #1789e9;
$bgTable: #f2f2f2;
$borderTable: #e1e1e1;
$mainText: #000;
$secondText: #333;
$mainGrey: #ccc;
$secondGray: #888;
$mainBg: #666;